	</main>
	<footer class="container-fluid">
        	<section class="row sFooter">
        		<div class="col-md-6 divFooterGauche">
        			<p>&copy; Le Clan des Semi Croustillants</p>
        		</div>
        		<div class="col-md-6 divFooterDroite">
        			<p><a href="{{path('mention_leg')}}">Mentions Légales</a></p>
        		</div>
        	</section>
        </footer>
    </body>
</html>
