{% extends "layout.html.twig" %}

{% block content %}
    <main class="container">
			
			<section class="row s404">
				<div class="col-12 divH2A">
					<div class="row">
						<div class="col-12 divA">
							<a href="{{path('homepage')}}">Retour à l'accueil</a>
						</div>
						<div class="col-12 divH2">
							<h2 class="text-center">Erreur 404</h2>
						</div>						
					</div>		
				</div>
					
			</section>
{% endblock %}
