{% extends "layout.html.twig" %}

{% block content %}
     <main class="container">
        	
        	<section class="row sRedefMdp" >
                <div class="col-12 divRedefMdp">
                    <h1>Redéfinir le mot de passe</h1>
					<form method="POST" action="{{path('envoi_token')}}">
		
						<label for="email">Email :</label>
						<input type="text" name="email" id="email">
						<input type="submit" name="Envoyer">
                	
                	</form>
                </div>
            </section>

        </main>
{% endblock %}
